<div class="container" >
  <app-question-step  *ngFor="let question of data; let i = index"  #steps [question]="question.question" [answers]="question.answers"></app-question-step>
  <div *ngIf="now < data.length; else score" >
    <button id="back" (click)="back()" class="btn btn-primary" [disabled]="i===0">Back</button>
    <button id="next" (click)="next()" class="btn btn-primary">{{data.length === now+1 ? 'Done' : 'Next'}}</button>
  </div>
  <ng-template #score><h4>Score: {{total}}</h4></ng-template>
</div>
